In [1]:
import pandas as pd

In [2]:
# Reading in csv
raw_data_file_path = "./../../data/raw_data/dataset2_holed.txt"
data = pd.read_csv(raw_data_file_path, sep="\s+", skip_blank_lines=True, header=None)

In [3]:
# Taking first 3 rows (relevant header details) into a separate variable
header_info = data.iloc[:3, :]

In [4]:
# Dropping the header details to get the raw input data
data = data.drop([0, 1, 2])

In [5]:
# Dropping columns that have NaN
data = data.dropna(axis=1)

In [6]:
def get_headers():
    omit_headers = ["MEA", "-113.35", "54.62"]
    header_with_co = [i for i in list(header_info.iloc[1, :]) if not i in omit_headers]
    header_without_co = []
    for i in header_with_co:
        try:
            float(i)
        except:
            header_without_co.append(i)
            continue
    return header_with_co, header_without_co
header_with_coordinates, header_without_coordinates = get_headers()

In [7]:
data.columns = header_without_coordinates

In [8]:
def generate_coordinate_cols():
    for i in header_with_coordinates:
        if i in data.columns:
            head = "lon"
            head_col = i
        else:
            data[f"{head_col}_{head}"] = float(i)
            head = "lat"
    return data
updated_data = generate_coordinate_cols()

In [9]:
updated_data["days"] = updated_data["DD-HH"].apply(lambda x: x.split("-")[0])
updated_data["hours"] = updated_data["DD-HH"].apply(lambda x: x.split("-")[1])

In [10]:
updated_data.head()

,DD-HH,BACK,FSIM,FSMI,GILL,GULL,MCMU,PINA,RANK,THRF,...,OTT_lon,OTT_lat,RES_lon,RES_lat,STJ_lon,STJ_lat,VIC_lon,VIC_lat,days,hours
3,01-01,80.96,60.73,70.45,79.31,25.61,43.89,27.25,139.54,162.24,...,-75.55,45.4,-94.89,74.69,-52.68,47.6,-123.42,48.52,01,01
4,01-02,56.5,45.27,58.04,47.11,12.66,33.29,14.0,123.66,150.96,...,-75.55,45.4,-94.89,74.69,-52.68,47.6,-123.42,48.52,01,02
5,01-03,20.47,24.45,22.3,21.63,12.15,15.45,7.54,47.04,146.11,...,-75.55,45.4,-94.89,74.69,-52.68,47.6,-123.42,48.52,01,03
6,01-04,15.02,17.78,13.78,14.13,6.45,12.19,7.98,30.45,145.41,...,-75.55,45.4,-94.89,74.69,-52.68,47.6,-123.42,48.52,01,04
7,01-05,8.41,12.14,8.23,9.21,6.72,8.5,8.24,16.18,137.76,...,-75.55,45.4,-94.89,74.69,-52.68,47.6,-123.42,48.52,01,05

In [11]:
clean_data_file_path = "../../data/clean_data/dataset2_holed_cleaned.csv"
updated_data.to_csv(clean_data_file_path, index=False)